
@font-face {
  font-family: 'squarespace-ui-font';
  src: url('https://static.squarespace.com/universal/fonts/squarespace-ui-font.eot');
  src: url('https://static.squarespace.com/universal/fonts/squarespace-ui-font.eot?#iefix') format('embedded-opentype'), url('https://static.squarespace.com/universal/fonts/squarespace-ui-font.svg#squarespace-ui-font') format('svg'), url('https://static.squarespace.com/universal/fonts/squarespace-ui-font.woff') format('woff'), url('https://static.squarespace.com/universal/fonts/squarespace-ui-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

.sqs-ui-font-family {
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased
}

[class^="sqs-ui-font-"]:before,
[class*=" sqs-ui-font-"]:before {
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased
}

[data-icon]:before {
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon)
}

/* Second declaration */

@font-face {
  font-family: 'squarespace-ui-font';
  src: url('//static.squarespace.com/universal/fonts/squarespace-ui-font.eot');
  src: url('//static.squarespace.com/universal/fonts/squarespace-ui-font.eot?#iefix') format('embedded-opentype'), url('//static.squarespace.com/universal/fonts/squarespace-ui-font.svg#squarespace-ui-font') format('svg'), url('//static.squarespace.com/universal/fonts/squarespace-ui-font.woff') format('woff'), url('//static.squarespace.com/universal/fonts/squarespace-ui-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

.sqs-ui-font-family {
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased
}

[class^="sqs-ui-font-"]:before,
[class*=" sqs-ui-font-"]:before {
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased
}

[data-icon]:before {
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon)
}